/*  dsplay for large screens */

@media only screen and (min-width: 70em) {
    
  .title {
    font-size: 4.2em;
    
  }
    
  .subtitle {
    font-size: 2.2em;
  }   
    
  
  .topnav a {
    font-size: 1.5em;
  }

    figure img {
        max-height: 20vw;
    }
  .currentweather {
    width: 100%;
  }

  .forecast {
      display: contents;
    }
  
    .article-image {
        order: 2;
    } 
    
    footer {
        margin-top: 5em;
        font-size: 1em;
        
    }
    
    .grid-gallery {
       grid-template-columns: 1fr 1fr 1fr;
     
    }
     .grid-gallery img:hover {
        box-shadow: 5px 5px 15px gray;
    }
    
    ._weather article {
        box-shadow: 5px 5px 15px gray;
    }
   
    
}