* {
    margin: 0px;
    padding: 0px;
    
}

h1 {
    margin: 0px 0px 15px 0px; 
}

body {
     display: flex;
    flex-flow: column;
    margin: auto;
    max-width: 40vw;
    font-family: "Abel", sans-serif;
    font-size: 16px;
    
}
body p {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items:center;
}

.weatherSource {
    font-size: .50rem;
    justify-content: center;
}