/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 80%;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Faster One', cursive;
  color: rgba(38, 45, 222, 0.95);
 
}

/* header styles */

h1 {
  max-width: 90em;
  font-size: 2.0rem;
  text-align: center;
  box-shadow: 5px 5px 15px grey;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #187474;
  text-align: center;
  text-decoration-line: underline;
}

/* section styles */
section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

section article {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  max-width: 33em;
  min-width: 15em;
  margin-right: 2px 2px 2px 18px;
  
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 1.8rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
  padding-left: 10px
}