@media only screen and (min-width: 64em) {
    /*  control display class for large screens */
  .display-small {
    display: none;
  }
    
  .display-medium {
    display: none;
  }
    
  .display-large {
    display: block;
  }
    /*  control title, subtitle, nav, main-image, and current-weather format for large screens */
  .title {
    font-size: 4.2em;
  }
    
  .subtitle {
    font-size: 2.2em;
  }   

  nav ul li a {
    font-size: 1.2em;
  }
    main figure {
    width:93.%;
    margin: 0;
}
main figure img {
    width:100%;
    height: 15vw;
    margin: none;
    padding: none;
}
  .main-image {
    width: 100%;
    float: none;
  }
    
  .main-image img {
    margin: 0;
    width: 100%;
  }

  .current-weather {
    width: 100%;
  }
}