/* controls for small screens and all other general styles not needing changed from small, medium, and large */

* { box-sizing: border-box;}

h1, h2 {
  background-color: #ffffff;
  color: #7793de;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}

h2 {
  font-weight: normal;
  font-size: 1.5em;
}

h3 {
  font-weight: bolder;
  font-size: 1.3em;
  background-color: #ffffff;
  color: #908185;
}

p {
  font-weight: normal;
  font-size: 1.1em;
  background-color: #ffffff;
  color: #0c100e;
}

body {
  font-size: 16px;
  font-family: "Abel", sans-serif;
}

header, nav, main, footer { 
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  max-width: 1200px;
}

/*  display for small screens */

.display-small {
  display: block;
}

.display-medium {
  display: none;
}

.display-large {
  display: none;
}

.inline-block {
  display: inline-block;
}

.align-middle {
  vertical-align: middle;
}

.align-center {
  text-align: center;
}

.title {
  margin: 0;
  font-size: 1.8em;
}
.subtitle {
  margin: 0;
  font-family: sans-serif;
  font-size: 0.9em;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

nav {
  margin-top: 5px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6ddff4;
}

nav ul li a {
  display: block;
  color: #161ede;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 0.9em;
}

nav ul li.active a {
  color: white;
}

nav ul li a:hover {
  background-color: #915c6c;
}

.main-image {
  margin-top: 0.4em;
  width: 100%;
}

.main-image img {
  width: 100%;
  height: auto;
}

.city-name h2 {
  width: 100%;
  font-size: 2em;
  text-align: center;
  margin: 0.1em;
}

.weather-widget {
  display: inline-block;
  font-size: 1.1em;
  padding-left: 1em;
  padding-right: 1em;
}

.weather-desc {
  font-size: 1.8em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  color: #2f6ba8;
  font-family: inherit;
}

.forecast {
  display: none;
}

.forecast h3 {
  border-style: solid solid none solid;
  text-align: center;
  border-width: 1px;
  font-size: 1.2em;
  margin: 0;
  padding: 0.5em;
  background-color: #dde692;
}

.forecast table {
  border: 1px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.forecast table th, .forecast table td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 4px;
  background-color: #c99a9a;
}

article {
  border: 1px solid;
  margin-top: 0.5em;
  padding: 1em;
}

article h3 {
  text-align: center;
  font-size: 1.5em;
  margin-top: 0;
  margin-left: 5px;
  margin-right: 5px;
}

article p {
  margin-bottom: 0;
}

.article-image {
  width: 100%;
  margin: 0;
  float: none;
}

footer {
  margin-top: 0.4em;
  text-align: center;
  font-size: 0.8em;
}

footer aside {
  background-color: #6ddff4;
  padding: 0.5em;
  color: blue;
}

footer aside span {
  font-weight: bold;
}

footer p {
  margin-top: 0;
  padding: 0.5em;
  background-color: #6ddff4;
  color: darkblue;
}