/*  display for medium screens */

@media only screen and (min-width: 37.5em) {
    
  .display-small {
    display: none;
  }
    
  .display-medium {
    display: block;
  }
    
  .display-large {
    display: none;
  }  
    
  .title {
    font-size: 3.4em;
  }
    
  .subtitle {
    font-size: 1.8em;
  }  

  nav ul li {
    float: left;
  }

  .forecast { 
    display: block; 
  }
main {
    
}

main figure {
    width:100%;
    margin: 0;
    padding: 0;
}
main figure img {
    width:100%;
    height: auto;
}
.main-image {
  margin-top: 0.4em;
  width: 100%;
}

.main-image img {
  width: 100%;
  height: auto;
}


  .article-image {
    width: 50%;
    float: right;
    margin-left: 0.5em;
  }
}